# Ignore Visual Studio Code
.vscode/

# Ignore Rider
.idea/

# Ignore Visual Studio
.vs/

# Ignore Fleet
.fleet/

# Ignore Code Rush
.cr/

# Ignore User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Ignore specific files
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Ignore Fleet project files
.fleet/

# Ignore SpaceBattle.Lib.Tests project files
spacebattle/SpaceBattle.Lib.Tests/SpaceBattle.Lib.Tests.csproj
spacebattle/SpaceBattle.Lib.Tests/TestResults.cobertura.xml
spacebattle/SpaceBattle.Lib.Tests/coverage.json

# Ignore SpaceBattle.Lib project files
spacebattle/SpaceBattle.Lib/SpaceBattle.Lib.csproj



